*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
180deg,
#ffe4ef,
#fff8fc
);

position:relative;

}

/* bintang */

.stars{

position:absolute;

inset:0;

background:
radial-gradient(
white 1px,
transparent 1px
);

background-size:
80px 80px;

opacity:.4;

animation:
blink 5s infinite;

}

/* halaman awal */

.hero{

text-align:center;

padding:20px;

z-index:2;

animation:
appear 1s;

}

.bear{

font-size:120px;

animation:
float 3s infinite;

}

.hero h1{

font-size:52px;

margin-top:15px;

color:#ff5b95;

}

.hero p{

margin-top:20px;

color:#666;

font-size:18px;

}

button{

margin-top:35px;

padding:
18px 48px;

border:none;

border-radius:999px;

background:#ff77aa;

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:
scale(1.08);

}

/* surat */

.card{

background:white;

width:560px;

max-width:92%;

padding:50px;

border-radius:35px;

text-align:center;

box-shadow:
0 30px 80px
rgba(255,120,170,.25);

animation:
cardShow
1s;

}

.mail{

font-size:90px;

margin-bottom:20px;

animation:
mailFloat
2s infinite;

}

.card h2{

color:#ff5b95;

font-size:38px;

margin-bottom:25px;

}

.card p{

line-height:2;

font-size:18px;

color:#666;

}

/* animasi */

@keyframes float{

50%{

transform:
translateY(-15px);

}

}

@keyframes mailFloat{

50%{

transform:
translateY(-12px);

}

}

@keyframes blink{

50%{

opacity:.8;

}

}

@keyframes appear{

from{

opacity:0;

transform:
translateY(20px);

}

to{

opacity:1;

transform:
translateY(0);

}

}

@keyframes cardShow{

0%{

opacity:0;

transform:
scale(.6);

}

70%{

transform:
scale(1.05);

}

100%{

opacity:1;

transform:
scale(1);

}

}

/* HP */

@media(max-width:600px){

.bear{

font-size:90px;

}

.hero h1{

font-size:36px;

}

.card{

padding:35px;

}

.card h2{

font-size:30px;

}

}
