*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;

overflow:hidden;

background:
linear-gradient(
180deg,
#ffe2ee,
#fff7fb
);

display:flex;

justify-content:center;

align-items:center;

}

.hero{

text-align:center;

padding:30px;

z-index:2;

}

.bear{

font-size:120px;

animation:
float 3s infinite;

}

.mini{

letter-spacing:3px;

color:#ff79a7;

margin-top:20px;

}

h1{

font-size:52px;

color:#ff4f89;

margin-top:15px;

}

.desc{

margin-top:20px;

color:#666;

}

button{

margin-top:40px;

padding:
18px
50px;

border:none;

border-radius:999px;

background:#ff6ea9;

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:
scale(1.08);

}

.stars{

position:absolute;

width:100%;
height:100%;

background:
radial-gradient(
white 1px,
transparent 1px
);

background-size:
70px
70px;

opacity:.35;

animation:
blink 5s infinite;

}

@keyframes blink{

50%{

opacity:.6;

}

}

@keyframes float{

50%{

transform:
translateY(-15px);

}

}
